*.log
node_modules/
.env
02 - Prediction and Control with Function Approximation/Week 4/Notebook_Average_Reward_Softmax_Actor_Critic_using_Tile_coding/results/ActorCriticSoftmax_tilings_32_tiledim_8_actor_ss_0.25_critic_ss_2_avg_reward_ss_0.015625_exp_avg_reward.npy
02 - Prediction and Control with Function Approximation/Week 4/Notebook_Average_Reward_Softmax_Actor_Critic_using_Tile_coding/results/ActorCriticSoftmax_tilings_32_tiledim_8_actor_ss_0.25_critic_ss_2_avg_reward_ss_0.015625_total_return.npy
03 - Prediction and Control with Function Approximation/Week 4/Notebook_Average_Reward_Softmax_Actor_Critic_using_Tile_coding/results/ActorCriticSoftmax_tilings_32_tiledim_8_actor_ss_0.25_critic_ss_2_avg_reward_ss_0.015625_exp_avg_reward.npy
03 - Prediction and Control with Function Approximation/Week 4/Notebook_Average_Reward_Softmax_Actor_Critic_using_Tile_coding/results/ActorCriticSoftmax_tilings_32_tiledim_8_actor_ss_0.25_critic_ss_2_avg_reward_ss_0.015625_total_return.npy
